.categorie{
    
    background-color: darkcyan;
}
.fa-edit{
    color: darkblue;
}
.fa-edit:hover{
    color: blue;
}
.fa-lock{
    color: darkblue;
}
.fa-lock:hover{
    color: red;
}
.fa-trash{
    color: black;
}
.fa-trash:hover{
    color: red;
}

.categorie a{
    text-decoration:none;
    color: black;
    font-weight: 500;
}
.cat-section a{
    text-decoration:none;
    color: black;
    font-weight: 400;   
}
.cat-section img{
    width: 54px;
    height: 62px;
    border: 2px solid darkcyan;
    border-radius: 50%;
}

.cat-section img:hover{
    border: 2px solid darkgreen;
    border-radius: 50%;
}


.cat-margin{
    margin-left: 10px;
}
.catcarmargin{
    margin-left: 20px;
}
.categorie .card-body a{
    text-decoration:none;
    color: rgb(37, 25, 25);
    font-weight: 400;
    font-size: small;
}
.categorie  span{
    color: black;
    font-weight: 500;
}
#banner{
    height: 200px;
}
.heartstyle{
    margin-left: 10px;
}
/* .carousel-control-next, .carousel-control-prev {
    width: 2%;
    opacity: 0;
} */
/* See more btn */
.rui-3sH3b.rui-3K5JC {
    color: #002f34;
    border-radius: 4px;
    border: 3px solid #002f34;
    padding: 0 10px;
}
.rui-3K5JC:hover {
    color: #002f34;
    border-radius: 4px;
    border: 3px solid #81838e;
    padding: 0 10px;
}
.rui-3sH3b.rui-1zK8h {
    font-size: 16px;
    height: 48px;
    width: 100px;
}
.rui-3sH3b {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-style: none;
    background: none;
    outline: none;
    font-weight: 700;
    cursor: pointer;
    padding: 0 12px;
    position: relative;
    overflow: hidden;
    line-height: normal;
    text-decoration: none;
}
.featured-background{
	background: rgb(245 242 242);
}
.Rent-background{
	background: rgb(235 231 231);
} 

#featured h4:after{
	background: darkcyan;
	content: "";
	display: block;
	width: 50px;
	height: 3px;
	margin: 20px auto;
}
#parttimefeatured img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 5rem;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    object-fit: scale-down;
}
#parttimefeatured .featured-padding{
    padding: 11px;
}
#parttimefeatured #profilestyle{
    width: 50px;
    height: 50px;
    object-fit: fill;
} 
#parttimefeatured .featuredimg{
    width: 100%;
    height: 5rem;
}
#parttimefeatured .price_margin{
    margin-left: 0px;
    font-size: 15px;
    font-weight: 500;
}
#parttimefeatured .pro-title{
    font-size: 13px;
    font-weight: 300;
    color: #092121;
}
#parttimefeatured .pro-title-height{
    height: 48px;
}

#parttimefeatured .pro-location{
    font-size: 10px;
}
#parttimefeatured .topright {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 14px;
  }
#parttimefeatured .bottomright{
    height: 35px;
    width: 35px;
    position: absolute; 
    top: 22%;
}
#parttimefeatured .pro-rating{
    font-size: 11px;
    float:right;
    font-weight: bold;
}
#parttimefeatured .fa-star{
    margin-left: -21px;
    color: orange;
}
#parttimefeatured .card{
    height: 222px;
}

/* .ads-size{
	height: 50px;
} */
/*footer*/
.col_white_amrc { color:#FFF;}
footer { width:100%; background-color:#263238; min-height:250px; padding:10px 0px 25px 0px ;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#CCC; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}
.foote_bottom_ul_amrc li a:hover { color:black; margin:0 12px;text-decoration: none;border: 1px solid darkcyan; border-radius: 5px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li a:hover { color:rgb(71, 92, 212); border:2px solid darkcyan; padding:8px;border-radius:50%;}

.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

/* Login */
.login-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.contact-box.name {
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
}
.forgot_password{
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
    color: brown;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.Register:hover{
    text-decoration: underline;
}

.contact-box.name input {
    margin: 0 20px;
    width: 50%;
}
.contact-box input {
    background: #f5f5f5 none repeat scroll 0 0;
    border: 0 none;
    color: #666666;
    font-size: 16px;
    height: 62px;
    padding: 0 47px;
}
input[type=text], input[type=email], input[type=password] {
    width: 100%;
}
input, select, textarea {
    transition: all 0.5s ease-out 0s;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.contact-btn {
    margin-top: 32px;
}
.fv-btn {
    background: #c43b68 none repeat scroll 0 0;
    border: 1px solid #c43b68;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 600;
    height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

/* categorie-list */
.categorie-list{
    font-size: 28px;
    margin-left: 33px;
}

.change a{
    font-weight: 700;
    color: black;
}
.change a:hover{
    text-decoration: none;
    color: black;
}
select{
    height: 52px;
}


/* Product_detail css */
#product-detail .card{
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    height: 50%;
}

#product-detail fieldset.active {
    display: block !important
}

#product-detail fieldset {
    display: none;
}

#product-detail .pic0 {
    width: 225px;
    height: 300px;
    margin-left: 85px;
    margin-right: auto;
    display: block
}

#product-detail .product-pic {
    padding-left: auto;
    padding-right: auto;
    width: 100%
}

#product-detail .thumbnails {
    position: absolute
}

#product-detail .fit-image {
    width: 100%;
    object-fit: cover
}

#product-detail .tb {
    width: 45px;
    height: 45px;
    border: 1px solid grey;
    margin: 2px;
    opacity: 0.4;
    cursor: pointer
}

#product-detail .tb-active {
    opacity: 1
}

#product-detail .thumbnail-img {
    width: 43px;
    height: 43px
}
/* image_upload_css */
.img-upload {
    background-color: indigo;
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  @media screen and (width: 768px) {
    #parttimefeatured .featured-padding{
        padding: 35px;
    } 
    #parttimefeatured .card{
        padding: 1px;
        margin-bottom: -15px;
        height: 247px;
        width: 180px;
    } 
    #parttimefeatured .featuredimg{
        width: 100%;
        height: 5rem;
    }
    #parttimefeatured .price_margin{
        margin-left: 0px;
        font-size: 14px;
        font-weight: 500;
    }
    #parttimefeatured .pro-title{
        font-size: 11px;
        font-weight: 500;
        color: #092121;
    }
    
    #parttimefeatured .bottomright{
        height: 35px;
        width: 35px;
        position: absolute; 
        top: 23%;
    }
    #parttimefeatured .card{
        height: 203px;
        width: 162px;
    }
    #parttimefeatured .topright {
        position: absolute;
        top: 5px;
        right: 11px;
        font-size: 13px;
      }
    /* Product_detail css */
    #product-detail .pic0 {
        width: 200px;
        height: 275px;
        margin-left: 85px;
        margin-right: auto;
        display: block
    }
}

  @media screen and (max-width: 540px) {
    .pic0 {
        width: 250px;
        height: 350px
    }
    .cat-section img{
        width: 40px;
        height: 58px;
    }
    .cat-section a{
        text-decoration:none;
        color: black;
        font-weight: 400;  
        font-size: 15px; 
    }
    .cat-margin{
        margin-left: -5px;
    }
    .catcarmargin{
        margin-left: 10px;
    }
    .heartstyle{
        margin-left: 0px;
    }
    
    #parttimefeatured #profilestyle{
        width: 35px;
        height: 35px;
    } 
    #parttimefeatured .featuredimg{
        width: 90%;
        height: 5rem;
    }
    #parttimefeatured .price_margin{
        font-size: 10px;
    }
    #parttimefeatured .pro-title{
        font-size: 9px;
        font-weight: 500;
        color: #092121;
    }
    #parttimefeatured .pro-location{
        font-size: 7px;
        font-weight: bold;
    }
    #parttimefeatured .pro-title-height{
        height: 22px;
    }
    
    #parttimefeatured img{
        height: 3rem;
    }
    #parttimefeatured .card{
        padding: 1px;
        height: 124px;
    } 
    #parttimefeatured .cardbody{
        margin-top: -5px;
    }
    #parttimefeatured .topright {
        position: absolute;
        top: 8px;
        right: 5px;
        font-size: 11px;
      }
      #parttimefeatured .pro-rating{
        margin-left: -10px;
        font-size: 7px;
        float:right;
        font-weight: bold;
    }
    #parttimefeatured .fa-star{
        margin-left: 7px;
        color: orange;
        font-size: 7px;
        margin-top: 2px;
    }
    #parttimefeatured .bottomright{
        height: 35px;
        width: 35px;
        position: absolute; 
        top: 22%;
    }
    /* Product_detail css */
    #product-detail .card{
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}
    
}

@media screen and (max-width: 320px) {
    .pic0 {
        width: 250px;
        height: 350px
    }
    .cat-section img{
        width: 40px;
        height: 58px;
    }
    .cat-section a{
        text-decoration:none;
        color: black;
        font-weight: 400;  
        font-size: 15px; 
    }
    .cat-margin{
        margin-left: -5px;
    }
    .catcarmargin{
        margin-left: 10px;
    }
    .heartstyle{
        margin-left: 0px;
    }
    #parttimefeatured #profilestyle{
        width: 35px;
        height: 35px;
    } 
    #parttimefeatured .featuredimg{
        width: 90%;
        height: 5rem;
    }
    #parttimefeatured .price_margin{
        font-size: 9px;
    }
    #parttimefeatured .pro-title{
        font-size: 8px;
        font-weight: 500;
        color: #092121;
    }
    #parttimefeatured .pro-location{
        font-size: 6px;
    }
    #parttimefeatured .pro-title-height{
        height: 22px;
    }
    
   
    #parttimefeatured img{
        height: 3rem;
    }
    #parttimefeatured .card{
        padding: 1px;
        margin-bottom: -15px;
        height: 124px;
    } 
    #parttimefeatured .cardbody{
        margin-top: -5px;
    }
    #parttimefeatured .topright {
        position: absolute;
        top: 8px;
        right: 16px;
        font-size: 8px;
      }
      #parttimefeatured .pro-rating{
        margin-left: -10px;
        font-size: 7px;
        float:right;
        font-weight: bold;
    }
    #parttimefeatured .fa-star{
        margin-left: 4px;
        color: orange;
        font-size: 6px;
        margin-top: 2px;
    }
    #parttimefeatured .bottomright{
        height: 35px;
        width: 35px;
        position: absolute; 
        top: 22%;
    }
    /* Product_detail css */
    #product-detail .card{
    padding: 20px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
}

}





  


  
  
  